@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
}

.hero{
    min-height: 100vh;
    width: 100%;
    background: #000;
    background-image: url(https://i.pinimg.com/originals/79/a3/84/79a384c3c449ad01b0e57e790807b2c0.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.hero__nav{
    max-width: 1140px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 110px;
    cursor: pointer;
}

.nav__list{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.nav__link{
    color: #fff;
}

.hero__info{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.hero__title{
    font-size: 60px;
    color: #fff;
}

.hero__info-btn{
    width: 150px;
    height: 40px;
    background: rgba(48, 46, 46, 0.247);
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.hero__info-btn:hover{
    background: #fff;
    color: #000;
}

.hero__content{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.hero__text{
    font-size: 12px;
    line-height: 24px;
    color: #fff;
}

.hero__content-btn{
    margin-top: 10px;
    margin-right: 82px;
    width: 160px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    background: rgba(48, 46, 46, 0.247);
    border: none;
}

.hero__content-btn:hover{
    color: #000;
    background: #fff;
}

#icon{
    margin-left: 10px;
}

.dots{
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.dot{
    background-color: #fff;
    width: 70px;
    border-radius: 50%;
}